deeplc @ git+https://github.com/markmipt/deeplc.git@alternative_best_model
pyteomics==4.7.5
lxml
scipy
numpy
scikit-learn
lightgbm
pandas
biosaur2
matplotlib
seaborn
ete3
identipy @ git+https://github.com/levitsky/identipy.git@exp8